$button_background: #E4C1AE;
$hbutton_background: #d4ab95;

body {
  margin: 0;

  section {
    position: relative;
    width: 1440px;
    height: 960px;
    background: #FFFFFF;

    img {
      position: absolute;
      width: 505px;
      height: 330px;
      left: 230px;
      top: 96px;
    }

    .content {
      position: absolute;
      width: 380px;
      height: 250px;
      left: 830px;
      top: 136px;

      h1 {
        font-family: 'Roboto';
        font-style: normal;
        width: 380px;
        height: 50px;
        margin: 0;
        font-size: 42px;
        font-weight: 700;
        line-height: 50.4px;
        color: #121212;
      }

      P {
        font-family: 'Roboto';
        font-style: normal;
        width: 380px;
        height: 96px; 
        text-align: justify;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #121212;
      }

      button {
        width: 128px;
        height: 48px;
        border-radius: 32px;
        padding: 16px 40px;
        background-color: $button_background;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
          animation: buttonHover .2s linear both;
        }
      }
    }


    .popupWindow {
      display: none;
      position: absolute;
      width: 920px;
      height: 210px;
      left: 260px;
      top: 375px;
      background: #FFFFFF;
      border: 1px solid black;
    }
  }


  @keyframes buttonHover {
    from {
      background-color: $button_background;
    } to {
      background-color: $hbutton_background;
    }
  }

  @media (max-width: 1220px) {
    section {
      width: 1220px;
      height: 900px;
  
      img {
        width: 440px;
        height: 280px;
        left: 80px;
        top: 96px;
      }
  
      .content {
        width: 320px;
        height: 280px;
        left: 600px;
        top: 136px;
      }
    }
  }
  


  @media (max-width: 960px) {
    section {
      width: 960px;
      height: 900px;
  
      img {
        width: 400px;
        height: 260px;
        left: 20px;
        top: 80px;
      }
  
      .content {
        width: 380px;
        left: 460px;
        top: 100px;
        text-align: left;

        h1 {
          width: 300px;
          font-size: 1.6em;
          height: 60px;
        }

        p{
          font-size: 0.9em;
          width: 300px;
          height: 120px; 
          margin-bottom: 0;
        }

        button {
          padding: 10px 22px;
          width: 128px;
          height: 48px;
        }
      }
    }
  }


  @media (max-width: 720px) {
    section {
      width: 720px;
      height: 900px;
  
      img {
        width: 600px;
        height: 360px;
        left: 60px;
        top: 20px;
      }
  
      .content {
        width: 580px;
        left: 70px;
        top: 420px;
        text-align: center;

        h1 {
          width: 580px;
          height: 60px;
        }

        p{
          font-size: 1.3em;
          width: 580px;
          height: 140px; 
        }

        button {
          font-size: 1.1em;
          padding: 20px 44px;
          width: 168px;
          height: 68px;
          margin: 10px auto;
        }
      }
    }
  }


  @media (max-width: 480px) {
    section {
      width: 480px;
      height: 700px;
  
      img {
        width: 480px;
        height: 300px;
        left: 0;
        top: 0;
      }
  
      .content {
        width: 380px;
        left: 40px;
        top: 320px;
        text-align: center;

        h1 {
          width: 440px;
          height: 60px;
        }

        p{
          font-size: 1.3em;
          width: 380px;
          height: 140px; 
        }

        button {
          font-size: 1.1em;
          padding: 20px 42px;
          width: 148px;
          height: 58px;
          margin: 30px auto;
        }
      }
    }
  }

  @media (max-width: 260px) {
    section {
      width: 260px;
  
      img {
        width: 260px;
        height: 200px;
        left: 0;
        top: 0;
      }
  
      .content {
        width: 240px;
        top: 220px;
        left: 10px;
        text-align: center;

        h1 {
          font-size: 1.5em;
          width: 240px;
        }

        p{
          font-size: 0.9em;
          width: 240px;
          height: 140px; 
        }

        button {
          font-size: 0.9em;
          padding: 10px 22px;
          width: 108px;
          height: 48px;
          margin: 10px auto;
        }
      }
    }
  }
}



