body {
  margin: 0;

  #container {
    position: relative;
    width: 1440px;
    height: 960px;
    background: #FFFFFF;

    img {
      position: absolute;
      width: 505px;
      height: 330px;
      left: 230px;
      top: 96px;
    }

    #content {
      position: absolute;
      width: 380px;
      height: 250px;
      left: 830px;
      top: 136px;

      h1 {
        font-family: 'Roboto';
        font-style: normal;
        margin: 0;
        font-size: 42px;
        font-weight: 700;
        line-height: 50.4px;
      }

      P {
        text-align: justify;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
      }

      button {
        width: 128px;
        height: 48px;
        border-radius: 32px;
        padding: 16px 40px;
        background-color: #E4C1AE;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }
}